.cart-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.cart-page h1 {
  text-align: center;
  color: #333;
}

.cart-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.cart-page__items {
  flex: 2;
}

.cart-page__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 10px;
  position: relative;
  background: var(--primary-color);
}

.cart-page__item-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cart-page__item-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 4px;
  padding: 6px;
  background: white;
}

.cart-page__item-details {
  margin-left: 20px;
}

.cart-page__item-details h2 {
  margin: 0;
  color: #333;
}

.cart-page__item-title {
  font-size: var(--font-size-medium);
}

/*  */
.cart-page__item-price {
  font-weight: bold;
  color: #41af35;
}

.cart-page__quantity {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.q-plus,
.q-minus {
  margin-top: 2px;
  width: 15px;
}

.cart-page__quantity-button {
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid var(--color-border);
}

.cart-page__quantity-value {
  margin: 0 10px;
  font-weight: bold;
}

.cart-page__remove-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #999;
}

.cart-page__footer {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  height: fit-content;
  display: flex;
  justify-content: center;

  width: 100%;
}

.cart-page__clear-button {
  padding: 8px 16px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 50px;
  background: #000;
  transition: 0.2s;
  text-decoration: none;
  text-align: center;
}

.cart-page__clear-button:hover {
  background-color: #45a049;
  color: #000;
  transform: translate(-0.1rem, -0.1rem);
  background: var(--color-heading);
  box-shadow: 2px 2px #000;
}

.cart-page__clear-button:active {
  transform: translate(0);
  box-shadow: none;
}

.cart__check-btn{
  border: none;
  outline: none;
  background: transparent;
  color: var(--color-white);
}
/*  */
.cart-summary {
  flex: 1;
  background-color: var(--color-border);
  padding: 20px;
  border-radius: 8px;
  height: fit-content;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total {
  font-weight: bold;
  font-size: 18px;
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
  margin-top: 10px;
}

.checkout-button {
  width: 100%;
  padding: 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .cart-container {
    flex-direction: column;
  }

  .cart-page__item{
    flex-direction: column;
    padding: 50px 10px;
  }

  .cart-summary {
    margin-top: 20px;
  }
}
